@model List<OlympicGames.Domain.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<p>@Html.ActionLink("Add Country", "AddCountry")</p>

<div>
    @foreach (var item in Model)
    {
        <p>@item.Name</p>
        <p>@item.CountryCode</p>
        <span>@Html.ActionLink("Details", "Details", new { id = item.Id })</span>
        <span>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</span>
    }
</div>