@model OlympicGamesWeb.Models.SportspersonViewModel

@{
    ViewBag.Title = "Edit";
    var countryList = ViewBag.Country as List<string>;
    var countryItems = countryList.Select(c => new SelectListItem
    {
        Text = c,
        Value = c
    });
}

<h2>Add Athlete</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <form class="form-horizontal" action="Index.cshtml">
        <fieldset>
            <div class="form-group article-create-new">
                @Html.LabelFor(x => x.Person.Name, new { @class = "col-lg-3 control-label text-right" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.Person.Name, new { @class = "form-control short-label" })
                    @Html.ValidationMessageFor(x => x.Person.Name)
                </div>
            </div>
            <div class="form-group article-create-new">
                @Html.LabelFor(x => x.Person.Surname, new { @class = "col-lg-3 control-label text-right" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.Person.Surname, new { @class = "form-control short-label", @rows = "8" })
                    @Html.ValidationMessageFor(x => x.Person.Surname)
                </div>
            </div>
            <div class="form-group article-create-new">
                @Html.LabelFor(x => x.Height, new { @class = "col-lg-3 control-label text-right" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.Height, new { @class = "form-control short-label", @rows = "8" })
                    @Html.ValidationMessageFor(x => x.Height)
                </div>
            </div>
            <div class="form-group article-create-new">
                @Html.LabelFor(x => x.Weight, new { @class = "col-lg-3 control-label text-right" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.Weight, new { @class = "form-control short-label", @rows = "8" })
                    @Html.ValidationMessageFor(x => x.Weight)
                </div>
            </div>
            <div class="form-group article-create-new">
                @Html.LabelFor(x => x.Person.Gender, new { @class = "col-lg-3 control-label text-right" })
                <div class="col-lg-9">
                    @Html.TextBoxFor(x => x.Person.Gender, new { @class = "form-control short-label", @rows = "8" })
                    @Html.ValidationMessageFor(x => x.Person.Gender)
                </div>
            </div>

            @if (countryList != null)
            {
                <div class="form-group article-create-new">
                    @Html.LabelFor(x => x.Person.Country.Name, new { @class = "col-lg-3 control-label text-right" })
                    <div class="col-lg-9">
                        @Html.DropDownListFor(x => x.Person.Country.Name, countryItems, new { @class = "form-control short-label", @rows = "8" })
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    <a href="/Sportsperson" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
}