@model List<OlympicGames.Domain.Article>

@{
    ViewBag.Title = "London Olympics";
}

<div class="container">
    <div class="row">
        <div class="col col-sm-3">
            <div id="sidebar">
                <ul class="nav nav-stacked">
                    <li>
                        <h3 class="highlight">Recent Updates<i class="glyphicon glyphicon-dashboard pull-right"></i>
                        </h3>
                    </li>
                    <li><a href="/Article/Index">News</a></li>
                    <li><a href="/Countries/Index">Countries</a></li>
                    <li><a href="/Sportsperson/Index">Participants</a></li>
                </ul>
            </div>
        </div>
        <div class="col col-sm-9">
            <div class="panel">
                <div class="clearfix">
                    <h1 class="section-header pull-left">The Top Stories</h1>
                    <div class="pull-right text-right">
                        <button class="btn btn-default btn-create-new">@Html.ActionLink("Create New", "CreateNewArticle")</button>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="row">
                        <img src="/Images/article-img.jpg" alt="News photo" class="img-responsive"/>
                        <h2>@item.ArticleName</h2>
                        <h6>@item.Created</h6>
                        <p>@item.Text.Substring(0, 600)...</p><br><br>
                        <button class="btn btn-default">@Html.ActionLink("Read More", "ReadMore", new {id = item.Id})</button>
                        <button class="btn btn-default">@Html.ActionLink("Edit", "Edit", new {id = item.Id})</button>
                        <hr>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
}